APP_HOST: "0.0.0.0"
APP_PORT: "8080"

AUTH_USERNAME: "lms_portal"
AUTH_PASSWORD: "mtUNW03vGcOITTczlyfrWw=="

LOG_LEVEL: "debug"

TEST_DB_NAME: "prismo_test"
TEST_DB_PASSWORD: ""

DB_HOST: "host.docker.internal"
DB_PORT: "5432"
DB_USER: "postgres"
DB_PASSWORD: ""
DB_NAME: "prismo_test"
DB_SSL_MODE: "disable"
DB_POOL_SIZE: 5
DB_MAX_IDLE_CONNECTIONS: 2
DB_CONN_MAX_LIFETIME_MINUTES: 30
DB_TRANSACTION_TIMEOUT_IN_MS: 50000
IS_TEST: "true"

READ_DB_HOST: "host.docker.internal"
READ_DB_PORT: "5433"
READ_DB_POOL_SIZE: 5
READ_DB_MAX_IDLE_CONNECTIONS: 2
READ_DB_TRANSACTION_TIMEOUT_IN_MS: 10000


REDIS_CACHE_HOST: "host.docker.internal:6379"
REDIS_CACHE_MAX_POOL_SIZE: 500
REDIS_CACHE_CONNECT_TIMEOUT_MS: 10000
REDIS_CACHE_QUERY_TIMEOUT_MS: 5000
REDIS_CACHE_MAX_IDLE_TIMEOUT_MS: 300000
REDIS_CACHE_UNIQUE_KEY_EXPIRE_TIME_MS: 10000


AMPHIBIAN_STATSD_ENABLED: "true"
AMPHIBIAN_STATSD_HOST: 127.0.0.1
AMPHIBIAN_STATSD_NAMESPACE: "prismo_be"
AMPHIBIAN_STATSD_PORT: "12345"
AMPHIBIAN_STATSD_TAGS: "prismo_be"

AL_DEF_LOCK_EXPIRY_MS: 3000
AL_DEF_RETRY_ATTEMPTS: 5
AL_DEF_RETRY_DELAY: 200